<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--
  <system.serviceModel>
    <services>
      <service name="PubSubService.MyPublishService">
        <endpoint address="net.pipe://localhost/ClientPubService" binding="netNamedPipeBinding" bindingConfiguration="ReliableTransactionalPIPE" contract="PubSubService.IMyEvents"/>
      </service>
      <service name="PubSubService.MySubscriptionService">
        <endpoint address="net.pipe://localhost/ClientSubService" binding="netNamedPipeBinding" bindingConfiguration="ReliableTransactionalPIPE"
           contract="PubSubService.IMySubscriptionService"/>
      </service>
    </services>
    <bindings>
      <netNamedPipeBinding>
        <binding name="ReliableTransactionalPIPE" transactionFlow="true" />
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
  -->
</configuration>